@model App.Web.Areas.Recapitulation.Models.SearchRekapBiayaMasuk

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Opsi)
    @Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group" id="pencarian">
			@Html.Label("Opsi pencarian", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("OpBM")
			</div>
		</div>

		@*untuk search*@
		<div class="form-group" id="pencarian2">
			@Html.LabelFor(model => model.JenisSS, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.JenisSS, new { htmlAttributes = new { @class = "form-control", AutoComplete = "off" } })
			</div>
		</div>

		<div class="form-group" id="pencarian3">
			@Html.LabelFor(model => model.tglbayar, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.tglbayar,"{0:dd-MM-yyyy hh-mm}", new { htmlAttributes = new { @class = "form-control", type="date" } })
			</div>
		</div>
		<div class="form-group" id="pencarian4">
			@Html.LabelFor(model => model.Jenjang, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.Jenjang, Model.Jenjangs(), "", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Jenjang, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group" >
			@Html.LabelFor(model => model.Namasiswa, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Namasiswa, new { htmlAttributes = new { @class = "form-control",Autocomplete="off" } })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Search" class="btn btn-default" />
			</div>
		</div>
	</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#pencarian2').hide();
		$('#pencarian3').hide();
		$('#pencarian4').hide();
        //var TipeBM = document.getElementById("Namasiswa");
        $('#OpBM').change(function () {
            var e = document.getElementById("OpBM");
            var strUser = e.options[e.selectedIndex].text;
            //alert(strUser);
            document.getElementById("Opsi").value = strUser;
            if (strUser == "School Support") {
                $('#pencarian2').show();
				$('#pencarian3').hide();
				$('#pencarian4').hide();

            }

            if (strUser == "Tanggal") {
                $('#pencarian2').hide();
                $('#pencarian3').show();
				$('#pencarian4').hide();
                //document.getElementById("JenisSs").change(function () {
                //    var e = document.getElementById("JenisSs");
                //    var strUser = e.options[e.selectedIndex].text;
                //    alert(strUser);
                //});
			}

			if (strUser == "Jenjang") {
                $('#pencarian2').hide();
                $('#pencarian3').hide();
				$('#pencarian4').show();
                document.getElementById("JenisSs").change(function () {
                    var e = document.getElementById("JenisSs");
                    var strUser = e.options[e.selectedIndex].text;
                    alert(strUser);
                });
            }
        });
    });
</script>