@model App.Entities.Models.DetailSaudara

@{
    ViewBag.Title = "Create Saudara";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Saudara</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Detail Saudara</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.SiswaId)
    @Html.HiddenFor(model => model.Sex)

    <div class="form-group">
        @Html.LabelFor(model => model.SiswaId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SiswaId, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.SiswaId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fullname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control", AutoComplete = "off" } })
            @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.RadioButtonFor(model => model.Sex, "Laki-Laki") Laki-Laki &nbsp;
            @Html.RadioButtonFor(model => model.Sex, "Perempuan") Perempuan

            @*@Html.DropDownList("ListItem")*@
        </div>
    </div>
    

    <div class="form-group">
        @Html.LabelFor(model => model.Dob, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Dob, new { htmlAttributes = new { @class = "form-control", AutoComplete = "off" } })
            @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "DetailSaudara", new { id = Model.SiswaId })
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function () {
        var JenisKelamin = document.getElementById("Sex");
        $('#ListItem').change(function () {
            var e = document.getElementById("ListItem");
            var strUser = e.options[e.selectedIndex].text;
            //alert(strUser);
            JenisKelamin.value = strUser;
        });
    });

</script>*@