@model IEnumerable<App.Entities.Models.Transaksi>

@{
    ViewBag.Title = "Batal Transaksi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("Delete", "Transaction", FormMethod.Post, new { id = "myForm" }))
{
    @Html.AntiForgeryToken()
    <div>
        <table style="border-top: 0px solid black">
            @foreach (var item in Model)
            {
                <dl class="dl-horizontal">
                    <dt>
                        Nama Siswa
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.Namasiswa)
                    </dd>
                    <dt>
                        No Sisda
                    </dt>

                    <dd>
                        @Html.DisplayFor(modelItem => item.Nosisda)
                    </dd>
                </dl>
                break;
            }

            <tr>
                <th>Total Biaya Masuk</th>
                <th>Biaya Masuk Dibayarkan</th>
                <th>Bulan SPP</th>
                <th>Nominal SPP</th>
                <th>Total Daftar Ulang</th>
                <th>Pendaftaran Terakhir</th>
                <th>Tipe Pembayaran</th>
                <th>Nama Bank</th>
                <th>Tanggal Transfer</th>
                <th>Tanggal Bayar</th>
                <th>Action</th>

                <hr align="right">
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.totalBM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bayarBM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bulanspp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bayarspp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.daftarUlang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cicilDaftarUlang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipebayar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Banknm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tgltransfer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tglbayar)
                    <td>
                        <input type="submit" name="Batal" value="Batal" onclick="return myFunction()" />
                        <input type="hidden" name="TransId" value="@item.TransId" />
                        @*@Html.DisplayFor(modelItem => item.TransId)*@
                    </td>
                </tr>
            }
            </table>
        </div>
    }
<p>
    @Html.ActionLink("Back to List", "Index", new { NamaSiswa = System.Web.HttpContext.Current.Session["NamaSiswa"] })
</p>


<script>

    $("#open-popup").click(function () {
        //alert("Yakin ?");
        var res = confirm("Yakin Hapus ?");
        return !!res;
    });
    function myFunction() {
        var txt;
        var r = confirm("Press a button!\nEither OK or Cancel.");
        if (r == true) {
            txt = "You pressed OK!";
        } else {
            /*txt = "You pressed Cancel!";*/
            return false;
        }
    }
</script>

