@model App.Entities.Models.Transaksi

@{
    ViewBag.Title = "Detail Transaksi Terakhir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h4>Transaksi Biaya</h4>

<h3>Batalkan Transaksi ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nosisda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nosisda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Namasiswa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namasiswa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kelastingkat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kelastingkat)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.totalBM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalBM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bayarBM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bayarBM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bulanspp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bulanspp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bayarspp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bayarspp)
        </dd>

    </dl>
</div>
<p>
    <div class="form-actions no-color">
        <input type="submit" value="Batalkan" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index", new { NamaSiswa = System.Web.HttpContext.Current.Session["NamaSiswa"] })
    </div>
</p>