@model IEnumerable<App.Entities.Models.Transaksi>

@{
	ViewBag.Title = "Detail Transaksi Terakhir";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
	<table style="border-top: 1px solid black" border="1" align="center">
		
		<tr>

			<th>No Sisda</th>
			<th>Nama Lengkap Siswa</th>
			<th>Total Biaya Masuk</th>
			<th>Biaya Masuk Dibayarkan</th>
			<th>Bulan SPP</th>
			<th>Nominal SPP</th>
			<th>Total Daftar Ulang</th>
			<th>Pendaftaran Terakhir</th>
			<th>Tipe Pembayaran</th>
			<th>Nama Bank</th>
			<th>Tanggal Transfer</th>
			<th>Tanggal Bayar</th>

		</tr>
		<hr align="right">
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nosisda)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Namasiswa)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.totalBM)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.bayarBM)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.bulanspp)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.bayarspp)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.daftarUlang)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.cicilDaftarUlang)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.tipebayar)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Banknm)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.tgltransfer)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.tglbayar)
				</td>
			</tr>
		}
	</table>
</div>
<p>
	@*@Html.ActionLink("Edit", "Edit", new { id = Model.BiayaId }) |*@
	@Html.ActionLink("Back to List", "Index", new { NamaSiswa = System.Web.HttpContext.Current.Session["NamaSiswa"] })
</p>
