@model IEnumerable<App.Entities.Models.Transaksi>

@{
    ViewBag.Title = "Detail Transaksi Terakhir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div>
    <h4>Transaksi Biaya</h4>
    <hr />

    @{
        App.Entities.DataAccessLayer.DatabaseContext db = new App.Entities.DataAccessLayer.DatabaseContext();
        var nm = "";
        var kelas = "";
        var nosisda = "";
        var periode = "";
        foreach (var d in Model)
        {
            IEnumerable<App.Entities.Models.Siswa> dts = db.Siswas.Where(x => x.Nosisda.Equals(d.Nosisda));
            foreach (var d1 in dts)
            {
                nm = d1.Fullname;
                kelas = d1.Kelas;
                nosisda = d1.Nosisda;
                periode = d1.Periode;
                break;
            }
            break;
        }
    }

    <dl class="dl-horizontal">
        <dt>
            No Sisda
        </dt>
        <dd>
            @nosisda
        </dd>
        <dt>
            Nama Siswa
        </dt>
        <dd>
            @nm
        </dd>
        <dt>
            Kelas
        </dt>
        <dd>
            @kelas
        </dd>
        <dt>
            Periode
        </dt>
        <dd>
            @periode
        </dd>
    </dl>
    <hr />
    @foreach (var d in Model)
    {
<dl class="dl-horizontal">
    <dt>
        Total Biaya Masuk
    </dt>
    <dd>
        Rp. @d.totalBM
    </dd>

    <dt>
        Biaya Masuk Dibayarkan
    </dt>
    <dd>
        Rp. @d.bayarBM
    </dd>
    <dt>
        Bulan SPP
    </dt>
    <dd>
        @d.bulanspp
    </dd>
    <dt>
        Nominal SPP
    </dt>
    <dd>
        Rp. @d.bayarspp
    </dd>
    
    <dt>
        Tipe Pembayaran
    </dt>
    <dd>
        @d.tipebayar
    </dd>
    <dt>
        Tanggal Bayar
    </dt>
    <dd>
        @Convert.ToString(string.Format("{0:dd, MMMM yyyy}", d.tglbayar))
    </dd>

</dl>
    <hr />

    }

</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.BiayaId }) |*@
    @Html.ActionLink("Back to List", "Index", new { NamaSiswa = System.Web.HttpContext.Current.Session["NamaSiswa"] })
</p>