@model App.Entities.Models.Transaksi
@{
    ViewBag.Title = "Detail Transaksi Terakhir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>@ViewBag.Title</h2>
<div>
    <h4>Transaksi Biaya</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nosisda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nosisda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Namasiswa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Namasiswa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kelastingkat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kelastingkat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.periode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.periode)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.totalBM)
        </dt>
        <dd>
            Rp. @Html.DisplayFor(model => model.totalBM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bayarBM)
        </dt>
        <dd>
            Rp. @Html.DisplayFor(model => model.bayarBM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bulanspp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bulanspp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.bayarspp)
        </dt>
        <dd>
            Rp. @Html.DisplayFor(model => model.bayarspp)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.tipebayar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipebayar).ToString().ToUpper()
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tglbayar)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.tglbayar) <br />*@
            @Convert.ToString(string.Format("{0:dd, MMMM yyyy}", Model.tglbayar))
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.BiayaId }) |*@
    @Html.ActionLink("Back to List", "Index", new { NamaSiswa =  System.Web.HttpContext.Current.Session["NamaSiswa"] })
</p>