@model App.Entities.Models.Transaksi
@{

    ViewBag.Title = "Kwitansi";
    //Layout = "~/Views/Shared/_printlayout.cshtml";
}
@*<input type="button" id="kwt" value="Print Kwitansi" class="btn btn-default" />*@

@Html.HiddenFor(model => model.Nosisda)
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script type="text/javascript" src="~/Scripts/DataTables/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/Scripts/printThis.js"></script>

    <!-- Normalize or reset CSS with your favorite library -->
    <link rel="stylesheet" href="~/Content/normalize.min.css">

    <!-- Load paper.css for happy printing -->
    <link rel="stylesheet" href="~/Content/paper.css">

    <!-- Set page size here: A5, A4 or A3 -->
    <!-- Set also "landscape" if you need -->
    <style>
        @@page {
            size: A4
        }

        body {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 10px;
        }

        span {
            font-weight: 600;
        }

        .pad {
            padding-bottom: 2mm;
        }

        .box {
            text-align: justify;
            padding: 2mm;
            border: 1px solid black;
        }

        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 4px;
        }

            .column:nth-child(1) {
                border-right: 1px dashed black;
            }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        table {
            /* table-layout: fixed; */
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 0px solid black;
        }
    </style>
</head>
<!-- Set "A5", "A4" or "A3" for class name -->
<!-- Set also "landscape" if you need -->
<body class="A4" onload="window.print()">

    <!-- Each sheet element should have the class "sheet" -->
    <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
    <section class="sheet" style="padding: 5mm">

        <!-- Write HTML just like a web page -->
        <div class="row">
            <div class="column">
                <table>
                    <tr>
                        <td colspan="5" style="border-bottom: 1px solid black;">Sekolah Islam Terpadu Darul Abidin</td>
                    </tr>
                    <tr>
                        <td colspan="5" style="text-align: center; padding-bottom: 2mm; padding-top: 2mm">KWITANSI PEMBAYARAN ADMINISTRASI</td>
                    </tr>
                    <tr>
                        <td width="25%">Nokwitansi</td>
                        <td width="1%">:</td>
                        <td colspan="3">@Html.DisplayFor(model => model.Nokwitansi)</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="vertical-align: top">Nama</td>
                        <td>:</td>
                        <td colspan="3">@Html.DisplayFor(model => model.Namasiswa)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3" class="pad"><span>@Html.DisplayFor(model => model.Nosisda) | @Html.DisplayFor(model => model.Kelastingkat)</span></td>
                    </tr>
                    <tr>
                        <td>Biaya Masuk</td>
                        <td>:</td>
                        <td colspan="3">@Html.DisplayFor(model => model.bayarBM)</td>
                    </tr>
                    <tr>
                        <td>SPP</td>
                        <td>:</td>
                        <td colspan="3">@Html.DisplayFor(model => model.bayarspp),- [@Html.DisplayFor(model => model.bulanspp)]</td>
                    </tr>
                    <tr>
                        <td>Komite Sekolah</td>
                        <td>:</td>
                        <td colspan="3">@Html.DisplayFor(model => model.komiteSekolah),- [@Html.DisplayFor(model => model.bulanspp)]</td>
                    </tr>
                    <tr>
                        <td>Daftar Ulang</td>
                        <td>:</td>
                        <td colspan="3">@Html.DisplayFor(model => model.cicilDaftarUlang),-</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top; border-bottom: 1px solid black;">School Support</td>
                        <td style="vertical-align: top; border-bottom: 1px solid black;">:</td>
                        <td class="pad" style="border-bottom: 1px solid black;" colspan="3">@Html.DisplayFor(model => model.nominal),- [@Html.DisplayFor(model => model.JenisSS)]<div>[Catering: @Html.DisplayFor(model => model.bulanCA)]</div><div>[AJ: @Html.DisplayFor(model => model.bulanAJ)]</div></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle">Total Bayar</td>
                        <td style="vertical-align: middle">:</td>
                        <td class="pad" style="padding-top: 2mm"><span>@Html.DisplayFor(model => model.totalkeseluruhan)</span></td>
                        <td width="25%" style="text-align: center;">Oleh</td>
                        <td width="25%" style="text-align: center;">Kasir</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top">Uang Bayar</td>
                        <td style="vertical-align: top">:</td>
                        <td class="pad"><span>@String.Format("{0:C}", Convert.ToInt32(Model.uang))</span></td>
                        <td rowspan="2"></td>
                        <td rowspan="2"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top">Kembali</td>
                        <td style="vertical-align: top">:</td>
                        <td class="pad"><span>@Html.DisplayFor(model => model.total)</span></td>
                    </tr>
                    <tr>
                        <td class="box" colspan="5">Dengan ditandatanganinya kwitansi ini, maka sekolah dan pemohon setuju atas data transaksi yang tertera di atas. Mohon disimpan hingga pembayaran berikutnya. Terima Kasih.</td>
                    </tr>
                </table>
            </div>

            <div class="column">
                <table>
                    <tr>
                        <td colspan="5" style="border-bottom: 1px solid black;">Sekolah Islam Terpadu Darul Abidin</td>
                    </tr>
                    <tr>
                        <td colspan="5" style="text-align: center; padding-bottom: 2mm; padding-top: 2mm">KWITANSI PEMBAYARAN ADMINISTRASI</td>
                    </tr>
                    <tr>
                        <td width="25%">Nokwitansi</td>
                        <td width="1%">:</td>
                        <td colspan="3">@Html.DisplayFor(model => model.Nokwitansi)</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="vertical-align: top">Nama</td>
                        <td>:</td>
                        <td colspan="3">@Html.DisplayFor(model => model.Namasiswa)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3" class="pad"><span>@Html.DisplayFor(model => model.Nosisda) | @Html.DisplayFor(model => model.Kelastingkat)</span></td>
                    </tr>
                    <tr>
                        <td>Biaya Masuk</td>
                        <td>:</td>
                        <td colspan="3">@Html.DisplayFor(model => model.bayarBM)</td>
                    </tr>
                    <tr>
                        <td>SPP</td>
                        <td>:</td>
                        <td colspan="3">@Html.DisplayFor(model => model.bayarspp),- [@Html.DisplayFor(model => model.bulanspp)]</td>
                    </tr>
                    <tr>
                        <td>Komite Sekolah</td>
                        <td>:</td>
                        <td colspan="3">@Html.DisplayFor(model => model.komiteSekolah),- [@Html.DisplayFor(model => model.bulanspp)]</td>
                    </tr>
                    <tr>
                        <td>Daftar Ulang</td>
                        <td>:</td>
                        <td colspan="3">@Html.DisplayFor(model => model.cicilDaftarUlang),-</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top; border-bottom: 1px solid black;">School Support</td>
                        <td style="vertical-align: top; border-bottom: 1px solid black;">:</td>
                        <td class="pad" style="border-bottom: 1px solid black;" colspan="3">@Html.DisplayFor(model => model.nominal),- [@Html.DisplayFor(model => model.JenisSS)]<div>[Catering: @Html.DisplayFor(model => model.bulanCA)]</div><div>[AJ: @Html.DisplayFor(model => model.bulanAJ)]</div></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle">Total Bayar</td>
                        <td style="vertical-align: middle">:</td>
                        <td class="pad" style="padding-top: 2mm"><span>@Html.DisplayFor(model => model.totalkeseluruhan)</span></td>
                        <td width="25%" style="text-align: center;">Oleh</td>
                        <td width="25%" style="text-align: center;">Kasir</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top">Uang Bayar</td>
                        <td style="vertical-align: top">:</td>
                        <td class="pad"><span>@String.Format("{0:C}", Convert.ToInt32(Model.uang))</span></td>
                        <td rowspan="2"></td>
                        <td rowspan="2"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top">Kembali</td>
                        <td style="vertical-align: top">:</td>
                        <td class="pad"><span>@Html.DisplayFor(model => model.total)</span></td>
                    </tr>
                    <tr>
                        <td class="box" colspan="5">Dengan ditandatanganinya kwitansi ini, maka sekolah dan pemohon setuju atas data transaksi yang tertera di atas. Mohon disimpan hingga pembayaran berikutnya. Terima Kasih.</td>
                    </tr>
                </table>
            </div>
        </div>

    </section>

</body>

@*
    <div>
        @Html.ActionLink("Back to List", "Index", new { NamaSiswa = System.Web.HttpContext.Current.Session["NamaSiswa"] })
    </div>
    </html>

    <script>
        $('#kwt').click(function () {
            $("#invoice-POS").printThis();
        });

    </script>*@

<script type="text/javascript">
    /*$(function () {
        $('.datetimepicker.').datetimepicker();
    });*/
    $(document).ready(function () {

    })

</script>