@model App.Entities.Models.Transaksi
@{

	ViewBag.Title = "Kwitansi";
	Layout = "~/Views/Shared/_Layout.cshtml";

	/**/

	ViewBag.Title = "Kwitansi";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<input type="button" id="kwt" value="Print Kwitansi" class="btn btn-default" Text="Print"  />


@Html.HiddenFor(model => model.Nosisda)

<style>

	/*div.a{
		font-size :1px;
	}*/

	div.b {
		font-size: 10px;
	}

	div.c {
		font-size: 7px;
	}
</style>
<div id="detail" style="padding-left:50px">

	<div width="90%" height="30%" style="padding-left:50px">
		<table width="100%" height="60%" style="padding-left:50px">
			<tr>
				<td colspan="2">
					<p style="font-size:10px">Sekolah Islam Terpadu Darul Abidin</p>
					<p style="font-size:10px" align="center">KWITANSI PEMBAYARAN SPP DAN ADMINISTRASI</p>
				<td colspan="2" style="padding-left:2px;border-left: 3px dotted black">
					<p style="font-size:10px">Sekolah Islam Terpadu Darul Abidin</p>
					<p style="font-size:10px" align="center">KWITANSI PEMBAYARAN SPP DAN ADMINISTRASI</p>
				</td>
			</tr>
		</table>
	</div>

	<div class="b" style="padding-left:50px">
		<table width="100%" height="60%" style="border-top: 1px solid black">
			<tr>
				<td>Nomor Kwitansi</td>
				<td colspan="1"> : </td>
				<td>
					@Html.DisplayFor(model => model.Nokwitansi)
				</td>
				<td></td>
				<td></td>
				<td colspan="2" style="padding-left:2px;border-left: 3px dotted black">Nomor Kwitansi</td>
				<td colspan="1"> : </td>
				<td>
					@Html.DisplayFor(model => model.Nokwitansi)
				</td>
				<td> </td>
				<td></td>
			</tr>

			<tr>
				<td>@Html.DisplayNameFor(model => model.tglbayar)</td>
				<td colspan="1"> : </td>
				<td>
					@Html.DisplayFor(model => model.tglbayar) @Html.DisplayFor(model => model.tgltransfer)
				</td>
				<td></td>
				<td></td>
				<td colspan="2" style="padding-left:2px;border-left: 3px dotted black">@Html.DisplayNameFor(model => model.tglbayar)</td>
				<td colspan="1"> : </td>
				<td>
					@Html.DisplayFor(model => model.tglbayar) @Html.DisplayFor(model => model.tgltransfer)
				</td>
				<td> </td>
				<td></td>
			</tr>

			<tr>
				<td>@Html.DisplayNameFor(model => model.Namasiswa)</td>
				<td colspan="1"> : </td>
				<td>
					@Html.DisplayFor(model => model.Namasiswa) @Html.DisplayFor(model => model.Nosisda)
				</td>
				<td></td>
				<td></td>
				<td colspan="2" style="padding-left:2px;border-left: 3px dotted black">@Html.DisplayNameFor(model => model.Namasiswa)</td>
				<td colspan="1"> : </td>
				<td>
					@Html.DisplayFor(model => model.Namasiswa) @Html.DisplayFor(model => model.Nosisda)
				</td>
				<td> </td>
				<td></td>
			</tr>
		</table>

		<table width="100%" height="60%" style="border-top: 1px solid black">

			@*Daftar Ulang*@
			<tr>
				<td>Daftar Ulang</td>
				<td colspan="2"> : </td>
				<td>
					@Html.DisplayFor(model => model.bayarDaftarUlang)
				</td>
				<td colspan="2" style="padding-left:2px;border-left: 3px dotted black">Daftar Ulang</td>
				<td colspan="2"> : </td>
				<td>
					@Html.DisplayFor(model => model.bayarDaftarUlang)
				</td>
			</tr>

			@*Biaya Masuk*@
			<tr>
				<td>@Html.DisplayNameFor(model => model.bayarBM)</td>
				<td colspan="2"> : </td>
				<td>
					@Html.DisplayFor(model => model.bayarBM)
				</td>
				<td colspan="2" style="padding-left:2px;border-left: 3px dotted black">@Html.DisplayNameFor(model => model.bayarBM)</td>
				<td colspan="2"> : </td>
				<td>
					@Html.DisplayFor(model => model.bayarBM)
				</td>
			</tr>

			@*spp*@
			<tr>

				<td>@Html.DisplayNameFor(model => model.bulanspp) || @Html.DisplayNameFor(model => model.bayarspp)</td>
				<td colspan="2"> : </td>

				@if (Model.infospp != null)
				{

					<td>
						@Html.DisplayFor(model => model.infospp)
					</td>

				}
				else
				{
					<td>
						@Html.DisplayFor(model => model.bulanspp) ||
						Rp.@Html.DisplayFor(model => model.bayarspp)
					</td>
				}

				<td colspan="2" style="padding-left:2px;border-left: 3px dotted black">@Html.DisplayNameFor(model => model.bulanspp) || @Html.DisplayNameFor(model => model.bayarspp)</td>
				<td colspan="2"> : </td>

				@if (Model.infospp != null)
				{

					<td>
						@Html.DisplayFor(model => model.infospp)
					</td>

				}
				else
				{
					<td>
						@Html.DisplayFor(model => model.bulanspp) ||
						Rp.@Html.DisplayFor(model => model.bayarspp)
					</td>
				}

			</tr>

			@*school support*@
			<tr>

				<td>@Html.DisplayNameFor(model => model.SSId) || @Html.DisplayNameFor(model => model.nominal)</td>
				<td colspan="2"> : </td>
				<td>
					@Html.DisplayFor(model => model.JenisSS) ||
					Rp.@Html.DisplayFor(model => model.nominal)
				</td>
				<td colspan="2" style="padding-left:2px;border-left: 3px dotted black">@Html.DisplayNameFor(model => model.SSId) || @Html.DisplayNameFor(model => model.nominal)</td>
				<td colspan="2"> : </td>
				<td>
					@Html.DisplayFor(model => model.JenisSS) ||
					Rp.@Html.DisplayFor(model => model.nominal)
				</td>

			</tr>

			<tr></tr>
		</table>
	</div>

	<div class="c" style="padding-left:50px">
		<table width="100%" height="50%" weight="20%" style="border-top: 1px solid black" font size="10%">
			<tr>
				<td colspan="2">
					Dengan ditandatanganinya kwitansi ini, maka sekolah dan pemohon setuju atas
					data transaksi yang tertera di atas. Mohon disimpan hingga pembayaran berikutnya.
					Terima Kasih.
				</td>
				<td colspan="2" style="padding-left:2px ; border-left: 3px dotted black">
					Dengan ditandatanganinya kwitansi ini, maka sekolah dan pemohon setuju atas
					data transaksi yang tertera di atas. Mohon disimpan hingga pembayaran berikutnya.
					Terima Kasih.
				</td>
			</tr>
			<tr>
				<td>Oleh Kasir</td>
				<td>@HttpContext.Current.User.Identity.Name</td>
				<td style="border-left: 3px dotted black">Oleh Kasir</td>
				<td>@HttpContext.Current.User.Identity.Name</td>
			</tr>
		</table>
	</div>
</div>
<hr />
<br />

<div>
	@Html.ActionLink("Back to List", "Index", new { NamaSiswa = System.Web.HttpContext.Current.Session["NamaSiswa"] })
</div>


<script>
		$('#kwt').click(function () {
			$("#detail").printThis();
		});
	</script>