@model App.Entities.Models.HistoryBiaya
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div id="details">
    <h4>History Biaya    -    <input type="button" id="cmd" value="Print" class="btn btn-default"/> </h4>
    <hr />
    <div id="detail" style="padding-left:100px">
        <table>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PeriodeHB)</th>
                <td> : </td>
                <td>
                    @Html.DisplayFor(model => model.PeriodeHB)
                </td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.KategoriHB)</th>
                <td> : </td>
                <td>
                    @Html.DisplayFor(model => model.KategoriHB)
                </td>
            </tr>
        </table>
    </div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PeriodeHB) : 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PeriodeHB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KategoriHB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriHB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JenisHB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JenisHB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TingkatHB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TingkatHB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomHisBiaya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomHisBiaya)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HistoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script>
    $('#cmd').click(function () {
        $("#detail").printThis();
    });

</script>