@using App.Web.Common;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" type="text/css" href="~/Scripts/DataTables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/DataTables/buttons.dataTables.css" />
    <script type="text/javascript" src="~/Scripts/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/Scripts/printThis.js"></script>

    <style>

        #loader {
            z-index: 1;
            position: relative;
            left: 45%;
            width: 70px;
            height: 70px;
            border-style: solid;
            border-top-color: #808080;
            border-right-color: #808080;
            border-left-color: transparent;
            border-bottom-color: transparent;
            border-radius: 50%;
            box-sizing: border-box;
            animation: rotate 3s ease-in-out infinite;
            transform: rotate(-200deg);
        }

        @@keyframes rotate {
            0% {
                border-width: 10px;
            }

            25% {
                border-width: 3px;
            }

            50% {
                transform: rotate(115deg);
                border-width: 10px;
            }

            75% {
                border-width: 3px;
            }

            100% {
                border-width: 10px;
            }
        }

        .load {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.5);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 999;
            opacity: 0;
            pointer-events: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

            .load > div {
                width: 400px;
                position: relative;
                margin: 10% auto;
                padding: 2rem;
                background: transparent;
                color: #444;
            }

        .active {
            opacity: 1;
            pointer-events: auto;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sistem Darul Abidin 3.2", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        <br />
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="~/Dashboard/Dashboard/Index">Beranda</a>
                    </div>
                    <div class="panel-heading">
                        <a href="#" data-toggle="collapse" data-target="#groupMD">Master Data</a>
                    </div>
                    <div class="panel-body collapse" id="groupMD">
                        <div class="list-group-item">
                            <a href="~/MasterData/Siswa/Index">Siswa</a>
                        </div>
                        <div class="list-group-item">
                            <a href="~/MasterData/Jenjang/Index">Jenjang</a>
                        </div>
                        <div class="list-group-item">
                            <a href="~/MasterData/Tingkat/Index">Tingkat</a>
                        </div>
                        <div class="list-group-item">
                            <a href="~/MasterData/Kelas/Index">Kelas</a>
                        </div>
                        <div class="list-group-item">
                            <a href="~/MasterData/Bank/Index">Bank</a>
                        </div>
                        <div class="list-group-item">
                            <a href="~/MasterData/Biaya/Index">Biaya</a>
                        </div>
                        <div class="list-group-item">
                            <a href="~/MasterData/HistoryBiaya/Index">Riwayat Biaya</a>
                        </div>
                        @*<div class="list-group-item">
                            <a href="~/MasterData/SchoolSupport/Index">School Support</a>
                        </div>*@
                    </div>
                    <div class="panel-heading">
                        <a href="~/AccessManagement/User/Index">Pengaturan User</a>
                    </div>
                    <div class="panel-heading">
                        <a href="~/Register/RegSiswa/Create">Pendaftaran Siswa</a>
                    </div>
                    <div class="panel-heading">
                        <a href="~/Transaction/Transaction/Index">Transaksi</a>
                    </div>
                    <div class="panel-heading">
                        <a href="#" data-toggle="collapse" data-target="#groupRecap">Rekapitulasi</a>
                    </div>
                    <div class="panel-body collapse" id="groupRecap">
                        <div class="list-group-item">
                            <a href="~/Recapitulation/RekapDaftarUlang/Index">Daftar Ulang</a>
                        </div>
                        <div class="list-group-item">
                            <a href="~/Recapitulation/RekapBiayaMasuk/Index">Biaya Masuk</a>
                        </div>
                        <div class="list-group-item">
                            <a href="~/Recapitulation/RekapSPP/Index">SPP</a>
                        </div>
                        <div class="list-group-item">
                            <a href="~/Recapitulation/RekapSchoolSupport/Index">School Support</a>
                        </div>
                        <div class="list-group-item">
                            <a href="~/Recapitulation/RekapPrint/Index">Cetak Rekapitulasi</a>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <a href="~/Invoice/Invoice/Index">Tagihan</a>
                    </div>
                    <div class="panel-heading">
                        <a href="#" data-toggle="collapse" data-target="#groupReport">Laporan</a>
                    </div>
                    <div class="panel-body collapse" id="groupReport">
                        <div class="list-group-item">
                            <a href="~/Report/ReportStatusPembayaran/Index">Payment Status</a>
                        </div>
                        <div class="list-group-item">
                            <a href="~/Report/ReportStatusTunggakan/Index">Arrears Status</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Darul Abidin</p>
        </footer>
    </div>
</body>
</html>