@using App.Web.Common;
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" type="text/css" href="~/Scripts/DataTables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/DataTables/buttons.dataTables.css" />
    <script type="text/javascript" src="~/Scripts/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/Scripts/printThis.js"></script>

</head>
<body  style="width: 250mm;padding:0; height: 50mm; overflow: hidden;" onload="window.print()">
    @RenderBody()
</body>