@model App.Web.Areas.Register.Models.CreateRegSiswa

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Registrasi Siswa Baru</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NamaSiswa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NamaSiswa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NamaSiswa, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NamaAyah, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NamaAyah, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NamaAyah, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NamaIbu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NamaIbu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NamaIbu, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.KontakAyah, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KontakAyah, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KontakAyah, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.KontakIbu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KontakIbu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KontakIbu, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AsalSekolah, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AsalSekolah, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AsalSekolah, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.KatSpp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.KatSpp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KatSpp, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2" id="tipediskon">
                @Html.DropDownList("Disc")
            </div>
            <div class="col-md-2" id="nomdiskon">
                @Html.EditorFor(model => model.NomDisc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomDisc, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TingkatId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TingkatId, Model.Tingkats(), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TingkatId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PerDaftar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MonthItem")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Years", new SelectList(ViewBag.Years as System.Collections.IEnumerable, Model.Year))
                @Html.ValidationMessageFor(model => model.Year)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Tahapsatu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tahapsatu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tahapsatu, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Tahapdua, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tahapdua, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tahapdua, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.KatAdm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.KatAdm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KatAdm, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2" id="tipediskonadm">
                @Html.DropDownList("DiscAdm")
            </div>
            <div class="col-md-2" id="nomdiskonadm">
                @Html.EditorFor(model => model.NomDiscAdm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomDiscAdm, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.PerDaftar)
        @Html.HiddenFor(model => model.Year)
        @Html.HiddenFor(model => model.TypeDisc)
        @Html.HiddenFor(model => model.TypeDiscAdm)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function () {
        var Tipedis = document.getElementById("TypeDisc");
        $('#Disc').change(function () {
            var e = document.getElementById("Disc");
            var strUser = e.options[e.selectedIndex].text;
            Tipedis.value = strUser;
        });
        var Periode = document.getElementById("PerDaftar");
        $('#MonthItem').change(function () {
            var e = document.getElementById("MonthItem");
            var strUser = e.options[e.selectedIndex].text;
            //alert(strUser);
            Periode.value = strUser;
        });
        $('#nomdiskon').change(function () {
            if (document.getElementById("TypeDisc").value == 'Rp') {
                var e = document.getElementById("NomDisc").value;
                var prsE = parseInt(e);
                if (!/\D/.test(e)) {
                    // alert("number");
                }
                else {
                    alert("number only");
                    document.getElementById("NomDisc").value = "";
                }
            }
            else if (document.getElementById("TypeDisc").value == '%') {
                var e = document.getElementById("NomDisc").value;

                if (!/\D/.test(e)) {
                    var prsE = parseInt(e);
                    if (prsE >= 0 && prsE <= 100) {
                        alert("percentage accepted");
                    }
                    else {
                        alert("percentage not accepted");
                        document.getElementById("NomDisc").value = "";
                    }

                }
                else {
                    alert("number only");
                    document.getElementById("NomDisc").value = "";
                }
            }
            else {
                alert("not number");
            }
        });
        var Tahun = document.getElementById("Year");
        $('#Years').change(function () {
            var e = document.getElementById("Years");
            var strUser = e.options[e.selectedIndex].text;
            //alert(strUser);
            Tahun.value = strUser;
        });

        //Tipe diskon Biaya Masuk
        var Disadm = document.getElementById("TypeDiscAdm")
        $('#DiscAdm').change(function () {
            var e = document.getElementById("DiscAdm");
            var strUser = e.options[e.selectedIndex].text;
            //alert(strUser)
            Disadm.value = strUser;
        });
        $('#nomdiskonadm').change(function () {
            if (document.getElementById("TypeDiscAdm").value == 'Rp') {
                var e = document.getElementById("NomDiscAdm").value;
                var prsE = parseInt(e);
                if (!/\D/.test(e)) {
                    //alert("number");
                }
                else {
                    alert("number only");
                    document.getElementById("NomDiscAdm").value = "";
                }
            }
            else if (document.getElementById("TypeDiscAdm").value == '%') {
                var e = document.getElementById("NomDiscAdm").value;

                if (!/\D/.test(e)) {
                    var prsE = parseInt(e);
                    if (prsE >= 0 && prsE <= 100) {
                        alert("percentage accepted");
                    }
                    else {
                        alert("percentage not accepted");
                        document.getElementById("NomDiscAdm").value = "";
                    }

                }
                else {
                    alert("number only");
                    document.getElementById("NomDiscAdm").value = "";
                }
            }
            else {
                alert("not number");
            }
        });

    });

</script>
