@model App.Entities.Models.Biaya
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Biaya</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KatBiaya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KatBiaya)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JenisBiaya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JenisBiaya)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TingkatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TingkatId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomBiaya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomBiaya)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

